
<p>商品編集画面</p>

<div class="container">
  <div class="row">
    <%= form_for( @item, url:admin_item_path ) do | item | %>
    <div class="col-xs-4">
      <%= attachment_image_tag @item, :image, size:'100x100', format: 'jpeg', fallback: 'no_image.jpg', size:'100x100' %><br>
      <%= item.attachment_field :image, placeholder: "画像選択" %>
    </div>

    <div class="col-xs-4">
      商品名<%= item.text_field :name %><br>
      商品説明<%= item.text_area :introduction %><br>
      ジャンル<%= item.select :genre_id, create_selection_genre(), prompt:'--選択してください--' %><br>
      税抜価格<%= item.number_field :listed_price, min:0 %>円<br>
      販売ステータス<%= item.select :selling_status, { 販売中:true, 売切れ:false } %><br>
      <%= item.submit '変更を保存', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
