<h2>注文情報確認</h2>

<table>
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <% @order_details.each do | order_detail | %>
  <tr>
    <td>
      <!--商品イメージ-->
      ここに商品イメージ表示させる（by ふじさん）<br>
      <!--商品名-->
      <%= order_detail.item.name %>
    </td>
    <td>
      <!-- 単価（税込）-->
      <!--subtotal( 税抜価格, 個数 ) => 小計（税込）を計算-->
      <%= subtotal( order_detail.item.listed_price, 1 ) %>
    </td>
    <td>
      <!-- 数量-->
      <%= order_detail.amount %>
    </td>
    <td>
      <!-- 小計-->
      <%= number_separation( order_detail.purchased_price ) %>
    </td>
  </tr>
  <% end %>
</table>

<%= form_for( @order, url: orders_path ) do | f | %>
<!-- 郵便番号-->
<%= f.hidden_field :postal_code, readonly:true %>
<!-- 配送先住所-->
<%= f.hidden_field :ship_to, readonly:true %>
<!-- 宛名-->
<%= f.hidden_field :consignee, readonly:true %>
<!-- 支払方法-->
<%= f.hidden_field :payment, readonly:true %>
<table>
  <tr>
    <td>配送料</td>
    <%= f.hidden_field :postage, value:@default_postage, readonly:true %>
    <td><%= @default_postage %></td>
  </tr>
  <tr>
    <td>商品合計</td>
    <td><%= number_separation( @total_price ) %></td>
  </tr>
  <tr>
    <td><b>請求金額</b></td>
    <% sum = @default_postage + @total_price %>
    <%= f.hidden_field :total_price, value:(sum), readonly:true %>
    <td><%= number_separation( sum ) %></td>
  </tr>
</table>

<h2>支払方法</h2>
<%= @order.payment %>

<h2>お届け先</h2>
<%= join_address( @order.postal_code, @order.ship_to, @order.consignee ) %>

<%= f.submit '購入を確定する' %>
<% end %>
