<% if end_user_signed_in? then%>
  <% if item.selling_status then%>
    <%= form_for( cart_item ) do | f |%>
    <%= f.hidden_field :item_id, value:item.id, readonly:true %>
    <%= f.hidden_field :end_user_id, value:current_end_user.id, readonly:true %>
    <% if cart_item.amount.nil? then  %>
      <%= f.select :amount, create_selection_amount(), include_blank:'個数選択' %>
    <% else %>
      <%= f.select :amount, create_selection_amount( cart_item.amount ) %>
    <% end %>
    <div style="display: inline;"><%= f.submit 'カートに入れる', class: "btn btn-primary" %></div>
    <% end %>
  <% else %>
  <div id='sold-out'>売切</div>
  <% end %>
<% end %>
