<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
      <div class="container">
          <%= image_tag 'ながのCAKE.png', class: "logo" %>
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              <li>
                <h6>トップ .</h6>
              </li>
              <li>
                <h6>| はじめての方へ .</h6>
              </li>
              <li>
                <h6>| マイページ .</h6>
              </li>
              <li>
                <h6>| ログアウト .</h6>
              </li>
              <li>
                <h6 class="glyphicon glyphicon-shopping-cart">カート</h6>
              </li>
            </ul>
          </div>
      </div>
    </header>

    <%= yield %>

   <footer class="footer style-2">
   </footer>

  </body>
</html>
